* {
    background-color: antiquewhite;
    font-family: sans-serif;
}
.atas {
    color: black;
    text-align: center;
    background-color: bisque;
}
.atas h1 {
    color: blue;
    background-color: inherit;
}
.atas p {
    display: inline-block;
    background-color:blanchedalmond;
}
.atas #pakkarno {
    font-style: oblique;
    background-color: inherit;
}
.link {
text-align:center;
padding: 50px;
}
.link a {
    padding: 50px 25px;
    text-decoration: none;
    color: black;
}
.link a:hover {
    background-color: rgb(141, 89, 21);
    color: white;
}
.gambaratas {
text-align: center;
}
#Big {
    font-weight: bold;
    font-size: x-large;
    color: blue;
}
.latin {
    font-style: oblique;
}
.pictbawah {
    text-align: center;
}
.pictbawah img {
    width: 20%;
}
.promo {
    font-weight: bold;
}
#harga {
    text-decoration: line-through ;
}